@model AirplaneTrafficManagement.Models.AirlineViewModel
@{
    ViewBag.Title = "Edit Airline";
}
<h2>Edit Airline</h2>

@using (Html.BeginForm("saveChanges", "Airline"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.idAirline)

        <legend>Edit Parameters</legend>
   <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.companyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.companyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.companyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.logo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.logo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.logo, "", new { @class = "text-danger" })
                </div>
            </div>

     <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

