@model AirplaneTrafficManagement.Models.AirlineViewModel
@{
    ViewBag.Title = "Airline";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Display all the Airlines.</h2>
</hgroup>


@*@using (Html.BeginForm("SearchMovie", "Movie"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Search</legend>

            <p>Movie type</p>

            <p>
                @Html.DropDownListFor(model => model.genre, new List<SelectListItem>{
                        new SelectListItem{ Text="Select", Value =   "0"},
                        new SelectListItem{ Text="Action", Value = "Action" },
                        new SelectListItem{ Text="Comedy", Value = "Comedy"},
                        new SelectListItem{ Text="Fantasy", Value = "Fantasy"},
                        new SelectListItem{ Text="Science-Fiction", Value = "Science-Fiction"},
                        new SelectListItem{ Text="Drama", Value = "Drama"},
                        new SelectListItem{ Text="Horror", Value = "Horror"},
                        new SelectListItem{ Text="Psychological", Value = "Psychological"}
                     })
        </p>
        <ol>
            <li>
                @Html.LabelFor(p => p._searchValue)
                @Html.TextBoxFor(p => p._searchValue, new { id = "_searchValue" })
            </li>
        </ol>

        <input type="submit" value="Search" />

        <button id="button" value="submit" onclick="ajaxCall();return false">Count </button>
    </fieldset>
        <div id="divNoOfMovies"></div>*@



<style>
    table, th, td {
        border: 2px solid black;
    }

    th, td {
        padding: 15px;
    }
</style>


<table style="width: 800px">
    <tr>
        <td><b>Id Airline</b></td>
        <td><b>Company Name</b></td>
        <td><b>Company Logo</b></td>
        <td><b>Options</b></td>
    </tr>

    @foreach (var item in Model._airlineList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idAirline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logo)
            </td>
            <td>
                @*@{var session = new Common.WebSessionContext();
                    }

                    @if (session.Admin == true)
                    {*@

                <p>@Html.ActionLink("Edit Airline", "EditAirline", "Airline", new { id = item.idAirline }, null) </p>
                <p>@Html.ActionLink("Delete Airline", "DeleteAirline", "Airline", new { id = item.idAirline }, null)</p>
                <p>@Html.ActionLink("Add Airline", "CreateAirline", "Airline", null) </p>
                @*<p>@Html.ActionLink("Movie Details", "movieDetail", "Flight", new { id_detail = item.idFlight }, null)</p>*@
                @*}

                    else
                    {*@

                @*@Html.ActionLink("Flight Details", "movieDetail", "Flight", new { id_detail = item.idFlight }, null)
                    <p>@Html.ActionLink("Reserve Ticket", "CreateTicket", "Flight", new { id = item.idFlight }, null)  </p>*@

                @*}*@

            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Index", "Flight"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <input type="submit" value="Back" />
}


