@model AirplaneTrafficManagement.Models.AirportViewModel
@{
    ViewBag.Title = "Add Airport";
}


@using (Html.BeginForm("AddAirport", "Airport"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.idAirport)

    <legend>Add Airport Form </legend>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           <div class="form-group">
            @Html.LabelFor(m => m.airportName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.airportName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.airportName, "", new { @class = "text-danger" })
                </div>
           </div>

            <div class="form-group">
                @Html.LabelFor(m => m.city, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                 @Html.TextBoxFor(m => m.city, new { @class="form-control"} )
                 @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger"})
                </div>
            </div>
  
        <div class="form-group">
            @Html.LabelFor(m => m.country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.state, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Airport" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
